.fade-enter {
  opacity: 0;
  display: flex;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
  display: flex;
}
.fade-enter-done {
  opacity: 1;
  display: flex;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1s;
}
.fade-exit-done {
  display: none;
}